CONTEXTA_API_URL=http://localhost:8080
CONTEXTA_API_TOKEN=replace-with-backend-token
ADMIN_PASSWORD_HASH='$2b$12$replace_with_a_bcrypt_hash'
SESSION_SECRET=replace-with-at-least-32-random-characters
SESSION_COOKIE_SECURE=false
